<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>tag</key>
		<integer>0</integer>
		<key>iconStr</key>
		<string>home_zx</string>
		<key>title</key>
		<string>资讯</string>
	</dict>
	<dict>
		<key>tag</key>
		<integer>1</integer>
		<key>iconStr</key>
		<string>home_cx</string>
		<key>title</key>
		<string>旅游</string>
	</dict>
	<dict>
		<key>tag</key>
		<integer>2</integer>
		<key>iconStr</key>
		<string>home_jk</string>
		<key>title</key>
		<string>健康</string>
	</dict>
	<dict>
		<key>tag</key>
		<integer>3</integer>
		<key>iconStr</key>
		<string>home_jy</string>
		<key>title</key>
		<string>教育</string>
	</dict>
	<dict>
		<key>tag</key>
		<integer>4</integer>
		<key>iconStr</key>
		<string>home_qz</string>
		<key>title</key>
		<string>圈子</string>
	</dict>
	<dict>
		<key>tag</key>
		<integer>5</integer>
		<key>iconStr</key>
		<string>home_rc</string>
		<key>title</key>
		<string>同城</string>
	</dict>
	<dict>
		<key>tag</key>
		<integer>6</integer>
		<key>iconStr</key>
		<string>home_sj</string>
		<key>title</key>
		<string>商界</string>
	</dict>
	<dict>
		<key>tag</key>
		<integer>7</integer>
		<key>iconStr</key>
		<string>home_tm</string>
		<key>title</key>
		<string>特卖</string>
	</dict>
</array>
</plist>
