<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>首页</string>
	<string>订阅</string>
	<string>北京</string>
	<string>娱乐</string>
	<string>生活</string>
	<string>科技</string>
	<string>财经</string>
	<string>军事</string>
	<string>文化</string>
	<string>体育</string>
	<string>汽车</string>
	<string>星座</string>
	<string>房产</string>
</array>
</plist>
