<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>New item</key>
		<string>张宏政</string>
		<key>New item - 2</key>
		<dict/>
		<key>New item - 3</key>
		<true/>
		<key>New item - 4</key>
		<string>41012151515151515</string>
	</dict>
	<dict>
		<key>New item</key>
		<string>赵文豪</string>
		<key>New item - 2</key>
		<integer>21</integer>
		<key>New item - 3</key>
		<true/>
		<key>New item - 4</key>
		<string>4120012414141411</string>
	</dict>
	<dict>
		<key>New item</key>
		<string>赵明明</string>
		<key>New item - 2</key>
		<integer>20</integer>
		<key>New item - 3</key>
		<false/>
		<key>New item - 4</key>
		<string>410124141414114124</string>
	</dict>
	<dict>
		<key>New item</key>
		<string>马助强</string>
		<key>New item - 2</key>
		<integer>22</integer>
		<key>New item - 3</key>
		<true/>
		<key>New item - 4</key>
		<string>41015125151515155</string>
	</dict>
	<dict>
		<key>New item</key>
		<string>刘莎</string>
		<key>New item - 2</key>
		<integer>18</integer>
		<key>New item - 3</key>
		<false/>
		<key>New item - 4</key>
		<string>41012415151515125</string>
	</dict>
</array>
</plist>
